* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Dancing+Script:wght@500&family=Raleway:wght@300&display=swap');

$estilos: (
        colorAzu:#00296b,
        colorblco:#ffff,
        colorAma: #fdc500,
        );
#body{
    background-color: map-get($estilos,colorblco);
    .navbarr {
        .nav-link{
            transform: scale(0.7);
        }
        .nav-link:hover{
            transform: scale(1.2);
        }
    }
    .navbar .container-fluid{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #carrouselmobile{
        display: none;
    }
    #carouselExampleControls{
        background-color: #00296b;
    }
    #metodosDePago{
        display: flex;
        text-align: center;
        flex-direction: column;
        padding: 15px;
        margin-top: 15px;
        background-color: map-get($estilos,colorblco);
        color: map-get($estilos, colorAzu);
        .parrafo{
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: space-around;
            margin-top: 10px;
            margin-bottom: 18px;
        }
        .p1{
            padding: 10px;
            border-radius: 15px;
            transform: scale(1, 1);
            font-size: 20px;
        }
        .p1:hover{
            transform: scale(1.5, 1.5);
            transition: all 1.5s;
            background-color: map-get($estilos, colorAzu);
            color: map-get($estilos, colorblco);;
            box-shadow: 10px 5px 5px black;
            text-align: center;

        }
        .p2{
            @extend .p1;
        }
        .p3{
            @extend .p1;
        }
        .p4{
            @extend .p1;
        }
    }
    .h2{
        text-align: center;
        color: map-get($estilos, colorblco);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 25px;
        padding: 15px;
       background-color:map-get($estilos, colorAzu);
    }
    #marcas{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #00296b;
        padding: 15px;
        background-color: #fdc500;
        margin-top: -15px;
       .imagenMobile{
        display: none;
       }
    }
    .separador{
      margin-top: 20px;
      border-bottom: 5px solid map-get($estilos, colorAzu );
    }
  #footerindx{
        display: flex;
        margin-top: 15px;
        justify-content: center;
        gap: 10px;
        .logo-footermobile{
            display: none;
        }
        .separadorf{
            border-left: 5px solid map-get($estilos, colorAzu);
            margin-top: -16px;
        }
        .redes{
            margin-top: 19px;
            display: flex;
            gap: 15px;
        }
        .redesMobile{
            display: none;
        }
    }
}

/*hoja productos*/
#BodyProductos{
    .navbar .container-fluid{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .navbar-prod {
        .nav-link{
            transform: scale(0.7);
        }
        .nav-link:hover{
            transform: scale(1.2);
        }
    }
    .tituloProductos{
        display: flex;
        justify-content: center;
        padding: 10px;
        background-color: map-get($estilos, colorAma );;
        color: map-get($estilos, colorAzu );
        font-family: 'Raleway', sans-serif;
    }
    #productos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 15px;
    }
    .filtros{
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
    }
    .filtros:hover{
        border: 2px solid rgb(242, 242, 242);
        box-sizing: border-box;
        box-shadow: #08080836 0px 0px 17px;
    }
    .encendido{
        grid-column: 2/3;
        grid-row: 1/2;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
    }
    .encendido:hover{
        @extend .filtros:hover;
    }
    .frenos{
        grid-column: 1/2;
        grid-row: 2/3;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
    }
    .frenos:hover{
        @extend .filtros:hover;
    }
    .cubiertas{
        grid-column: 2/3;
        grid-row: 2/3;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
    }
    .cubiertas:hover{
        @extend .filtros:hover;
    }
    #footerProductos{
        display: flex;
        margin-top: 15px;
        justify-content: center;
        border-top: 5px solid map-get($estilos, colorAzu );
        #redesMobileProductos{
            display: none;
        }
        #logo-footermobile-P{
            display: none;
        }
        .logo-footer-P{
            border-right: 5px solid map-get($estilos, colorAzu);
        }
        #contactoProductos{
            .redesProductos{
                display: flex;
                gap: 20px;
                margin-left: 5px;
                margin-top: 40px;
            }
        }
    }
}
    //hoja puntos de compra//

 #bodyPdc{
        background-color: map-get($estilos, colorAzu);
        color: map-get($estilos, colorblco );
        .navbar-pdc {
            .nav-link{
                transform: scale(0.7);
            }
            .nav-link:hover{
                transform: scale(1.2);
            }
        }
        .navbar .container-fluid{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        #ubicacion{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Raleway', sans-serif;
            background: rgb(255,255,255);
            background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(89,116,152,1) 27%, rgba(0,41,96,1) 100%);
            padding: 15px;
            .mobilemap{
                display: none;
            }
            .parrafoub{
                font-family: 'Raleway', sans-serif;
                font-size: 25px;
                margin-top: 10px;
                text-align: center;
            }
        }
        #footerpdc{
            display: flex;
            margin-top: 15px;
            justify-content: center;
            border-top: 5px solid map-get($estilos, colorAma );
            #redesMobilePdc{
                display: none;
            }
            .logo-footermobile-pdc{
                display: none;
            }
            .logo-footer-pdc{
                border-right: 5px solid map-get($estilos, colorAma);
            }
            #contactoPdc{
                .redesPdc{
                    display: flex;
                    gap: 20px;
                    margin-left: 5px;
                    margin-top: 40px;
                }
            }
        }
    }
    //hoja nosotros//

    #body-nos{
        background: rgb(0,41,107);
background: linear-gradient(229deg, rgba(0,41,107,1) 0%, rgba(253,187,45,1) 100%);
        color: map-get($estilos, colorblco );
        .navbar-nos{
                .nav-link{
                    transform: scale(0.7);
                }
                .nav-link:hover{
                    transform: scale(1.2);
                }
            .navbar .container-fluid{
                display: flex;
                align-items: center;
                flex-direction: column;
            }
        }
        #sobreNos{
            display:flex;
            align-items: center;
            #imagenes{
                display: grid;
                grid-template-columns: 300px 1fr ;
                grid-template-rows: 1fr 1fr 1fr;
                margin-top: 60px;
                margin-right: 70px;
                .img1{
                    grid-column: 1/2;
                    grid-row: 1/2;
                    border-radius: 30px;
                }
                .img2{
                    grid-column: 2/3;
                    grid-row: 2/3;
                    border-radius: 30px;
                }
                .img3{
                    grid-row: 3/4;
                    border-radius: 30px;
                }
            }
                .tituloNos{
                    grid-column: 1/2;
                    grid-row: 2/3;
                    margin-top  : 25px;
                   font-family: 'EB Garamond', serif;;
                }
                .desk{
                    font-family: 'EB Garamond', serif;
                }
            .celu{
                display: none;
            }
            
        }
            #footerNos{
                display: flex;
                margin-top: 15px;
                justify-content: center;
                border-top: 5px solid map-get($estilos, colorAzu);
                #redesMobileNos{
                    display: none;
                }
                #logo-footermobile-nos{
                    display: none;
                }
                .logo-footer-nos{
                    border-right: 5px solid map-get($estilos, colorAzu);
                }
                #contactoNos{   
                    .redesNos{
                        display: flex;
                        gap: 20px;
                        margin-left: 5px;
                        margin-top: 40px;
                    }
                }
            }
 }
        
  //hoja Devoluciones//
    #bodyDevo{
        background-color: map-get($estilos, colorblco );
        color: map-get($estilos, colorAzu );
        .navbar-devo{
            .nav-link{
                transform: scale(0.7);
            }
            .nav-link:hover{
                transform: scale(1.2);
            }
        .navbar .container-fluid{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
       }
       .infoDevo{
        font-family: "Heebo", "Helvetica Neue", "Arial", "sans-serif";    
        padding: 15px;
       }
       #footerDevo{
        display: flex;
        margin-top: 65px;
        justify-content: center;
        border-top: 5px solid map-get($estilos, colorAzu);
        #redesMobileDevo{
            display: none;
        }
        #logo-footermobile-D{
            display: none;
        }
        .logo-footer-D{
            border-right: 5px solid map-get($estilos, colorAzu);
        }
        #contactoDevo{   
            .redesDevo{
                display: flex;
                gap: 20px;
                margin-left: 5px;
                margin-top: 40px;
            }
        }
    }
    }
    
    
@media screen and (max-width: 780px) {
        #body{
            #carrouselmobile{
                display: flex;
            }
            #carrousel{
                display: none;
            }
            .navbarr{
                text-align: center;
            }
            .navbar-toggler-icon {
                filter: invert(1);
            }
            #metodosDePago{
                .parrafo{
                    display: grid;
                    grid-template-columns: 1fr 1fr ;
                    grid-row: 1fr 1fr 1fr ;
                    grid-row: 2/5;
                    .p1{
                        grid-column: 1/2;
                        grid-row: 2/3;
                    }
                    .p2{
                        grid-column: 2/3;
                        grid-row: 2/3;
                    }
                    .p3{
                        grid-column: 1/2;
                        grid-row: 3/4;
                    }
                    .p4{
                        grid-column: 2/3;
                        grid-row: 3/4;
                    }
                }
            }
            
            #marcas{
                .imagen{
                    display: none;
                }
                .imagenMobile{
                    display: flex;
                }
                .h2{
                    font-size: 20px;
                }
            }
            
            #footerindx{
                display: flex;
                .logo-footer{
                    display: none;
                }
                .logo-footermobile{
                    display: flex;
                    text-align: start;
                    margin-bottom: 5px;
                }
                .separadorf{
                    display: none;
                }
                .separadorfm{
                    border-right: 3px solid map-get($estilos, colorAzu );
                    margin-top: -15px;
                }
                .redes{
                    display: none;
                }
                .redesMobile{
                    display: flex;
                    margin-top: 5px;
                    gap: 15px;
                    margin-left: 5px;
                }
            }
        }
            #BodyProductos{
            .navbar-toggler-icon {
                filter: invert(1);
            }
            .tituloProductos{
                display: flex;
                text-align: center;
            }
            #productos{
                display: flex;
                flex-direction: column;
            }
            #footerProductos{
                display: flex;
                justify-content: center;
                border-top: 5px solid map-get($estilos, colorAzu );
                
                .logo-footer-P{
                    display: none;
                }
                #logo-footermobile-P{
                    display: flex;
                    margin-top: 1px;  
                    flex-direction: row-reverse;
                    .separador{
                        border-right: 3px solid map-get($estilos, colorAzu );
                        margin-top: -5px;
                    } 
                }
                #contactoProductos{
                    display: flex;
                    .redesProductos{
                    display: none;
                    }
            }
            #redesMobileProductos{
                display: flex;
                margin-top: 5px;
                gap: 15px;
                margin-left: 5px;
            }
        }
    }
    
    #bodyPdc{
        
        .navbar-toggler-icon {
            filter: invert(1);
        }
        #ubicacion{
            display: flex;
            .maps{
                display: none;
            }
            .mobilemap{
                display: flex;
            }
        }
        #footerpdc{
            display: flex;
            justify-content: center;
            border-top: 3px solid map-get($estilos, colorAma );
            margin-top: -1px;
            .logo-footer-pdc{
                display: none;
            }
            .logo-footermobile-pdc{
                display: flex;
                border-right: 3px solid map-get($estilos, colorAma );
            }
            #contactoPdc{
                display: none;
            }
            #redesMobilePdc{
                display: flex;
                margin-top: 5px;
                gap: 15px;
                margin-left: 5px;
            }
        }
    }
    #body-nos{
        .navbar-toggler-icon {
            filter: invert(1);
        }
        #sobreNos{
            padding: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            #imagenes{
                display: none;
            }
            #imgmobile{
                display: flex;
                gap: 25px;
                .img1{
                    border-radius: 15px;
                }
                .img2{
                    border-radius: 15px;
                }
                .img3{
                    border-radius: 15px;
                }
            }
            .tituloNos{
                display: flex;
                justify-content: center;
                font-family: 'EB Garamond', serif;
            }
            .desk{
                display: none;
            }
            .celu{
                display: flex;
                text-align: start;
                font-family: 'EB Garamond', serif;
            }
        }
        #footerNos{
            .logo-footer-nos{
                display: none;
            }
            #logo-footermobile-nos{
                display: flex;
                border-right: 3px solid map-get($estilos, colorAzu );
            }
            #contactoNos{
                display: none;
            }
            #redesMobileNos{
                display: flex;
                margin-top: 5px;
                gap: 15px;
                margin-left: 5px;
            }
        }
    }
    #bodyDevo{
        .navbar-toggler-icon {
            filter: invert(1);
        }
        #footerDevo{
            margin-top: -4px;
            .logo-footer-D{
                display: none;
            }
            #logo-footermobile-D{
                display: flex;
                border-right: 3px solid map-get($estilos, colorAzu );
            }
            #contactoDevo{
            display: none;
        }
        #redesMobileDevo{
            display: flex;
            margin-top: 5px;
            gap: 15px;
            margin-left: 5px;
        }
     }
    }
}