@import url("https://fonts.googleapis.com/css2?family=Abel&family=Dancing+Script:wght@500&family=Raleway:wght@300&display=swap");
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#body {
  background-color: #ffff;
}

#body .navbarr .nav-link {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

#body .navbarr .nav-link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#body .navbar .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#body #carrouselmobile {
  display: none;
}

#body #carouselExampleControls {
  background-color: #00296b;
}

#body #metodosDePago {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  margin-top: 15px;
  background-color: #ffff;
  color: #00296b;
}

#body #metodosDePago .parrafo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 18px;
}

#body #metodosDePago .p1, #body #metodosDePago .p2, #body #metodosDePago .p3, #body #metodosDePago .p4 {
  padding: 10px;
  border-radius: 15px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  font-size: 20px;
}

#body #metodosDePago .p1:hover, #body #metodosDePago .p2:hover, #body #metodosDePago .p3:hover, #body #metodosDePago .p4:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  background-color: #00296b;
  color: #ffff;
  -webkit-box-shadow: 10px 5px 5px black;
          box-shadow: 10px 5px 5px black;
  text-align: center;
}

#body .h2 {
  text-align: center;
  color: #ffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  padding: 15px;
  background-color: #00296b;
}

#body #marcas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00296b;
  padding: 15px;
  background-color: #fdc500;
  margin-top: -15px;
}

#body #marcas .imagenMobile {
  display: none;
}

#body .separador {
  margin-top: 20px;
  border-bottom: 5px solid #00296b;
}

#body #footerindx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

#body #footerindx .logo-footermobile {
  display: none;
}

#body #footerindx .separadorf {
  border-left: 5px solid #00296b;
  margin-top: -16px;
}

#body #footerindx .redes {
  margin-top: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

#body #footerindx .redesMobile {
  display: none;
}

/*hoja productos*/
#BodyProductos .navbar .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#BodyProductos .navbar-prod .nav-link {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

#BodyProductos .navbar-prod .nav-link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#BodyProductos .tituloProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  background-color: #fdc500;
  color: #00296b;
  font-family: 'Raleway', sans-serif;
}

#BodyProductos #productos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 15px;
}

#BodyProductos .filtros {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

#BodyProductos .filtros:hover, #BodyProductos .encendido:hover, #BodyProductos .frenos:hover, #BodyProductos .cubiertas:hover {
  border: 2px solid #f2f2f2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: #08080836 0px 0px 17px;
          box-shadow: #08080836 0px 0px 17px;
}

#BodyProductos .encendido {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

#BodyProductos .frenos {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

#BodyProductos .cubiertas {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

#BodyProductos #footerProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 5px solid #00296b;
}

#BodyProductos #footerProductos #redesMobileProductos {
  display: none;
}

#BodyProductos #footerProductos #logo-footermobile-P {
  display: none;
}

#BodyProductos #footerProductos .logo-footer-P {
  border-right: 5px solid #00296b;
}

#BodyProductos #footerProductos #contactoProductos .redesProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-left: 5px;
  margin-top: 40px;
}

#bodyPdc {
  background-color: #00296b;
  color: #ffff;
}

#bodyPdc .navbar-pdc .nav-link {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

#bodyPdc .navbar-pdc .nav-link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#bodyPdc .navbar .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#bodyPdc #ubicacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Raleway', sans-serif;
  background: white;
  background: radial-gradient(circle, white 0%, #597498 27%, #002960 100%);
  padding: 15px;
}

#bodyPdc #ubicacion .mobilemap {
  display: none;
}

#bodyPdc #ubicacion .parrafoub {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  margin-top: 10px;
  text-align: center;
}

#bodyPdc #footerpdc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 5px solid #fdc500;
}

#bodyPdc #footerpdc #redesMobilePdc {
  display: none;
}

#bodyPdc #footerpdc .logo-footermobile-pdc {
  display: none;
}

#bodyPdc #footerpdc .logo-footer-pdc {
  border-right: 5px solid #fdc500;
}

#bodyPdc #footerpdc #contactoPdc .redesPdc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-left: 5px;
  margin-top: 40px;
}

#body-nos {
  background: #00296b;
  background: linear-gradient(229deg, #00296b 0%, #fdbb2d 100%);
  color: #ffff;
}

#body-nos .navbar-nos .nav-link {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

#body-nos .navbar-nos .nav-link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#body-nos .navbar-nos .navbar .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#body-nos #sobreNos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#body-nos #sobreNos #imagenes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  margin-top: 60px;
  margin-right: 70px;
}

#body-nos #sobreNos #imagenes .img1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  border-radius: 30px;
}

#body-nos #sobreNos #imagenes .img2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  border-radius: 30px;
}

#body-nos #sobreNos #imagenes .img3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  border-radius: 30px;
}

#body-nos #sobreNos .tituloNos {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin-top: 25px;
  font-family: 'EB Garamond', serif;
}

#body-nos #sobreNos .desk {
  font-family: 'EB Garamond', serif;
}

#body-nos #sobreNos .celu {
  display: none;
}

#body-nos #footerNos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 5px solid #00296b;
}

#body-nos #footerNos #redesMobileNos {
  display: none;
}

#body-nos #footerNos #logo-footermobile-nos {
  display: none;
}

#body-nos #footerNos .logo-footer-nos {
  border-right: 5px solid #00296b;
}

#body-nos #footerNos #contactoNos .redesNos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-left: 5px;
  margin-top: 40px;
}

#bodyDevo {
  background-color: #ffff;
  color: #00296b;
}

#bodyDevo .navbar-devo .nav-link {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

#bodyDevo .navbar-devo .nav-link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#bodyDevo .navbar-devo .navbar .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#bodyDevo .infoDevo {
  font-family: "Heebo", "Helvetica Neue", "Arial", "sans-serif";
  padding: 15px;
}

#bodyDevo #footerDevo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 5px solid #00296b;
}

#bodyDevo #footerDevo #redesMobileDevo {
  display: none;
}

#bodyDevo #footerDevo #logo-footermobile-D {
  display: none;
}

#bodyDevo #footerDevo .logo-footer-D {
  border-right: 5px solid #00296b;
}

#bodyDevo #footerDevo #contactoDevo .redesDevo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-left: 5px;
  margin-top: 40px;
}

@media screen and (max-width: 780px) {
  #body #carrouselmobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #body #carrousel {
    display: none;
  }
  #body .navbarr {
    text-align: center;
  }
  #body .navbar-toggler-icon {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  #body #metodosDePago .parrafo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2/5;
  }
  #body #metodosDePago .parrafo .p1, #body #metodosDePago .parrafo .p2, #body #metodosDePago .parrafo .p3, #body #metodosDePago .parrafo .p4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  #body #metodosDePago .parrafo .p2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  #body #metodosDePago .parrafo .p3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  #body #metodosDePago .parrafo .p4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  #body #marcas .imagen {
    display: none;
  }
  #body #marcas .imagenMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #body #marcas .h2 {
    font-size: 20px;
  }
  #body #footerindx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #body #footerindx .logo-footer {
    display: none;
  }
  #body #footerindx .logo-footermobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: start;
    margin-bottom: 5px;
  }
  #body #footerindx .separadorf {
    display: none;
  }
  #body #footerindx .separadorfm {
    border-right: 3px solid #00296b;
    margin-top: -15px;
  }
  #body #footerindx .redes {
    display: none;
  }
  #body #footerindx .redesMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
    gap: 15px;
    margin-left: 5px;
  }
  #BodyProductos .navbar-toggler-icon {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  #BodyProductos .tituloProductos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  #BodyProductos #productos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #BodyProductos #footerProductos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top: 5px solid #00296b;
  }
  #BodyProductos #footerProductos .logo-footer-P {
    display: none;
  }
  #BodyProductos #footerProductos #logo-footermobile-P {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  #BodyProductos #footerProductos #logo-footermobile-P .separador {
    border-right: 3px solid #00296b;
    margin-top: -5px;
  }
  #BodyProductos #footerProductos #contactoProductos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #BodyProductos #footerProductos #contactoProductos .redesProductos {
    display: none;
  }
  #BodyProductos #footerProductos #redesMobileProductos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
    gap: 15px;
    margin-left: 5px;
  }
  #bodyPdc .navbar-toggler-icon {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  #bodyPdc #ubicacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #bodyPdc #ubicacion .maps {
    display: none;
  }
  #bodyPdc #ubicacion .mobilemap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #bodyPdc #footerpdc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top: 3px solid #fdc500;
    margin-top: -1px;
  }
  #bodyPdc #footerpdc .logo-footer-pdc {
    display: none;
  }
  #bodyPdc #footerpdc .logo-footermobile-pdc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-right: 3px solid #fdc500;
  }
  #bodyPdc #footerpdc #contactoPdc {
    display: none;
  }
  #bodyPdc #footerpdc #redesMobilePdc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
    gap: 15px;
    margin-left: 5px;
  }
  #body-nos .navbar-toggler-icon {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  #body-nos #sobreNos {
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #body-nos #sobreNos #imagenes {
    display: none;
  }
  #body-nos #sobreNos #imgmobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 25px;
  }
  #body-nos #sobreNos #imgmobile .img1 {
    border-radius: 15px;
  }
  #body-nos #sobreNos #imgmobile .img2 {
    border-radius: 15px;
  }
  #body-nos #sobreNos #imgmobile .img3 {
    border-radius: 15px;
  }
  #body-nos #sobreNos .tituloNos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: 'EB Garamond', serif;
  }
  #body-nos #sobreNos .desk {
    display: none;
  }
  #body-nos #sobreNos .celu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: start;
    font-family: 'EB Garamond', serif;
  }
  #body-nos #footerNos .logo-footer-nos {
    display: none;
  }
  #body-nos #footerNos #logo-footermobile-nos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-right: 3px solid #00296b;
  }
  #body-nos #footerNos #contactoNos {
    display: none;
  }
  #body-nos #footerNos #redesMobileNos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
    gap: 15px;
    margin-left: 5px;
  }
  #bodyDevo .navbar-toggler-icon {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  #bodyDevo #footerDevo {
    margin-top: -4px;
  }
  #bodyDevo #footerDevo .logo-footer-D {
    display: none;
  }
  #bodyDevo #footerDevo #logo-footermobile-D {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-right: 3px solid #00296b;
  }
  #bodyDevo #footerDevo #contactoDevo {
    display: none;
  }
  #bodyDevo #footerDevo #redesMobileDevo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
    gap: 15px;
    margin-left: 5px;
  }
}
/*# sourceMappingURL=styles.css.map */